extends layout
block content
    div.container
        h1 View Categories
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th ID
                    th Name
                    th Description
                    th Edit / Delete
            tbody
            each category in categories
                tr
                    td
                        p #{category._id}
                    td
                        a(href='/categories/'+ category._id) #{category.name}
                    td
                        p #{category.description}
                    td
                        button.btn.btn-info(type='button', data-toggle='modal', data-target='#editModal', class="editbutton")
                            span.glyphicon.glyphicon-comment
                        button.btn.btn-info(type='button',data-toggle='modal', data-target='#deleteModal', class="deletebutton", rowid=category._id)
                            span.glyphicon.glyphicon-trash

        #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4#myModalLabel.modal-title Alert
                    .modal-body
                        p You are not able to delete an category, because it will delete all the products inside it, then it won't be possible to load the order details in orders.
                    .modal-footer
        a(href='/orders', target='_parent').btn.btn-primary
            span.glyphicon.glyphicon-arrow-left &nbsp;Back