extends layout
block content
    div.container
        h1 #{products[0].category.name}
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th Name
                    th unitsInStock
                    th unitPrice
            tbody
            each product in products
                tr
                    td
                        a(href='/products/' + product._id) #{product.name}
                    td
                        p #{product.unitsInStock}
                    td
                        p #{product.unitPrice}
        a(href='/categories', target='_parent').btn.btn-primary
                span.glyphicon.glyphicon-arrow-left &nbsp;Back
