extends layout
block content
    div.container
        h1 Welcome to CA3
        h4 made by Damjan, Jakob, Vuk, Youssef
        div.col-md-6
            table.table.table-striped.table-hover.table-bordered
                tr
                    th id
                    th Date
                    th Name
                    th Adress
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                tr
                    td 1
                    td 2
                    td 3
                    td 4
        div.col-md-6
            div.flexslider
                ul.slides
                    li
                        img(src='slide1.jpg')
                        li
                            img(src='slide2.jpg')
                        li
                            img(src='slide3.jpg')
                        li
                            img(src='slide4.jpg')
        button.btn.btn-default
            span.glyphicon.glyphicon-star Ok
        button.btn.btn-danger Ok
            span.glyphicon.glyphicon-download
        button.btn.btn-warning Ok
        button.btn.btn-success Ok
