extends layout
block content
    div.container
        div.col-md-6
            table.table.table-striped.table-hover.table-bordered
                tr
                    th id
                    th Date
                    th Name
                    th Adress
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                tr
                    td 1
                    td 2
                    td 3
                    td 4
        button.btn.btn-default
            span.glyphicon.glyphicon-star Ok
        button.btn.btn-danger Ok
            span.glyphicon.glyphicon-download
        button.btn.btn-warning Ok
        button.btn.btn-success Ok
