extends layout
block content
    div.container
        h1 Welcome to CA3
        h4 made by Damjan, Jakob, Vuk, Youssef
        div.col-md-6
        p 
        div.col-md-6
            #wrapper
                #slider
                    img(id="1", src='../images/Vuk.jpg')
                    img(id="2", src='../images/Youssef.jpg')
                    img(id="3", src='../images/Jakob.jpg')
                    img(id="4", src='../images/Damjan.jpg')

