extends layout
block content
    div.container
        div.jumbotron
            h1.welcome Welcome to CA3
            h4 Made by Damjan, Jakob, Vuk, Youssef
        div.col-md-6
            p Hello and welcome to this project made by Damjan, Jakob, Vuk, Youssef.  On this site your able to choose between the following 5 topics: Home, Categories, Orders, Customers and Employees. Clicking on Orders your able to watch the different types of orders, and you can also see all the customers by choosing the topic "Customers". The topic "Employees" carries the list of all the employees.
            p Project: Working with this project (CA3), we learned to work more as a team, but also learned to give better explanations to each other, since we diveded the project into several tasks.
            p We learned to use mongodb, mongoose, node.js, jade files, jquery and css.
            div.col-md-3
                a(href='http://www.github.com/hyber1z0r/ca-orders').btn.btn-primary Source &nbsp;
                  span.glyphicon.glyphicon-cloud-download
            div.col-md-3
                a(href='#').btn.btn-primary Documentation &nbsp;
                    span.glyphicon.glyphicon-cloud-download

        div.col-md-6
            #wrapper
                #slider
                    img(id="1", src='../images/Vuk.jpg')
                    img(id="2", src='../images/Youssef.jpg')
                    img(id="3", src='../images/Jakob.jpg')
                    img(id="4", src='../images/Damjan.jpg')

