doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/superhero-bootstrap.min.css')
    //link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")

    //link(rel='stylesheet', href='/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/toastr.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body
    include menu
    block content
    include footer
    include scripts