header.container
    ul.navbar.navbar-default.navbar-static-top
            h3
                a(href='/', target='_parent') Home
                    span.glyphicon.glyphicon-home.home &nbsp;
                a(href='/categories', target='_parent') Categories
                    span.glyphicon.glyphicon-list.categories &nbsp;
                a(href='/orders', target='_parent') Orders
                    span.glyphicon.glyphicon-search.orders &nbsp;
                a(href='/customers', target='_parent') Customers
                    span.glyphicon.glyphicon-globe.customers &nbsp;
                a(href='/employees', target='_parent') Employees
                    span.glyphicon.glyphicon-user.employees &nbsp;
