header.container
    ul.navbar.navbar-default.navbar-static-top
            h3
                a(href='/', target='_parent') Home &nbsp;
                a(href='/categories', target='_parent') Categories &nbsp;
                a(href='/orders', target='_parent') Orders &nbsp;
            li.btn: a New Orders

a( target='_parent', id='BackButton').btn.btn-primary Go to previous page