extends layout
block content
    div.container
<<<<<<< HEAD
        a(href='/', target='_parent', id='BackButton').btn.btn-primary Go back!
=======
        a( target='_parent', id='BackButton').btn.btn-primary Go back   !
>>>>>>> 6dddd7b0cd0bc4ea7fdc8d829440443f8d5205f4
        h1 Order View
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th id
                    th Date
                    th Name
                    th Address
            tbody
            each order in data
                tr
                    td
                        a(href='/orders/' + order._id) #{order._id}
                    td
                        p #{order.orderDate}
                    td
                        p #{order.shipName}
                    td
                        p #{order.shipAddress}

