a .footer.footer-info {

}

#BackButton{
    height: 50px;
    width: 125px;
    position: fixed;
    right: 1%;
    top: 10%;
    z-index: 999;

}


#BackButton a {
    display: block;
    background: #f00;
    height: 200px;
    width: 70px;
    padding: 8px 16px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #fff;
}

#BackButton a:hover {
    background: #06c;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

.footer {
    position: absolute;
    margin-top: 70px;
    padding-top: 50px;
    right: 0;
    bottom: 100;
    left: 0;
    background-color: #39444e;
    color: #aeaab0;
}

h1,h2,h3,h4,h5{
    color: #c76918;
}

#slider{
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 30px auto;
    }
#slider>img{
    width: 300px;
    height: 400px;
    float:left;
    display: none;

}

#wrapper {

    width: 400px;
    margin: 0 auto;
}

a.left{
 float: left;
}

a.right{
    float: right;
}

#copy {
    float: right;
    margin-right: 20px;
}